<div class="lg:flex">
  <div class="lg:w-1/2 xl:max-w-screen-sm">
    <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
      <h2 class="text-center text-4xl text-indigo-900 font-display font-semibold lg:text-left xl:text-5xl xl:text-bold">
        Log in
      </h2>
      <div class="mt-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <div class="text-sm font-bold text-gray-700 tracking-wide">Email Address</div>
            <%= f.email_field :email,
                              class: 'w-full text-lg py-2 border-b border-gray-300 focus:outline-none
                                focus:border-indigo-500',
                              placeholder: 'david@gmail.com'
            %>
          </div>
          <div class="mt-8">
            <div class="flex justify-between items-center">
              <div class="text-sm font-bold text-gray-700 tracking-wide">
                Password
              </div>
              <div>
                <%= link_to "Forgot password?", new_password_path(resource_name),
                  class: 'text-xs font-display font-semibold text-indigo-600 hover:text-indigo-800 cursor-pointer' %>
              </div>
            </div>
            <%= f.password_field :password,
                              class: 'w-full text-lg py-2 border-b border-gray-300 focus:outline-none
                                focus:border-indigo-500',
                              placeholder: 'Enter your password'
            %>
          </div>
          <div class="mt-10">
            <button type="submit" class="bg-indigo-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                                shadow-lg">
              Log In
            </button>
          </div>
        <% end %>
        <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
          Don't have an account ?
          <%= link_to 'Sign up', new_user_registration_path, class: 'cursor-pointer text-indigo-600 hover:text-indigo-800' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'users/shared/right_screen' %>
</div>
