<div class="relative flex flex-row <%= is_sender ? 'justify-end' : 'justify-start' %> mb-3">
  <% unless is_sender %>
    <div class="w-8 h-8 relative flex flex-shrink-0 mr-4">
      <%= image_tag message.user.avatar, class: "shadow-md rounded-full w-full h-full object-cover #{hidden_avatar ? 'hidden' : ''}" %>
    </div>
  <% end %>
  <div class="messages text-sm <%= is_sender ? 'text-white' : 'text-gray-700' %> grid grid-flow-row gap-2">
    <div class="flex items-center group <%= is_sender ? 'flex-row-reverse' : '' %>">
      <% attachment_type = reply_type_mapping_attachment(attachment) %>
      <div class="flex flex-col flex-shrink-0 <%= is_sender ? 'items-end' : 'items-start' %>">
        <% parent = message.parent %>
        <% if parent.present? && message.body.blank? %>
          <%= render partial: 'chat/content/conversations/message_reply',
                     locals: {
                       parent: parent,
                       is_sender: is_sender
                     } %>
        <% end %>

        <%= render partial: 'chat/content/conversations/message_attachment/attachment',
                   locals: {
                     attachment: attachment
                   } %>
      </div>

      <%= render partial: 'chat/content/conversations/message_actions', locals: {
        message: message,
        message_reply_content: reply_content_mapping_reply_type(message),
        is_sender: is_sender,
        channel: channel,
        message_reaction_form: message_reaction_form
      } %>
    </div>
  </div>
</div>
