<%= turbo_frame_tag "components-modal" do %>
  <div class="animate-fade-in fixed top-0 left-0 z-20 flex h-full w-full items-center justify-center bg-[#00000080] text-white"
       data-controller="components--modal" id="components-modal-controller">
    <div class="bg-gray-800 flex w-screen max-w-[500px] flex-col rounded-lg border border-gray-800">
      <div class="border-gray-600 flex items-center justify-between border-b py-3 px-3">
        <div class="flex-1"></div>
        <div class="flex flex-1 items-center justify-center">
          <h1 class="whitespace-nowrap text-center text-2xl">Channel Members</h1>
        </div>
        <div class="flex flex-1 justify-end">
          <button data-action="click->components--modal#hideModal"
                  class="bg-dark-lighten flex h-8 w-8 items-center justify-center rounded-full transition duration-300 hover:brightness-125">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="border-gray-600 flex items-stretch border-b">
        <%= link_to "Members", joined_users_channel_users_path(channel_id: @channel.id),
                    data: {
                      turbo_frame: 'components-modal',
                      action: 'turbo:click->components--modal#activeTab',
                      'components--modal-target': 'tab'
                    }, class: 'flex-1 py-2 text-center bg-gray-600' %>
        <%= link_to "Add members", not_joined_users_channel_users_path(channel_id: @channel.id),
                    data: {
                      turbo_frame: 'channel-users',
                      action: 'turbo:click->components--modal#activeTab',
                      'components--modal-target': 'tab'
                    }, class: 'flex-1 py-2 text-center' %>
      </div>
      <%= turbo_frame_tag "channel-users" do %>
        <div class="flex h-80 flex-col items-stretch gap-4 overflow-y-auto overflow-x-hidden py-4">
          <%= render partial: 'chat/channels/users/user', collection: @users, locals: { joined: true, channel: @channel } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
