<div class="chat-footer flex-none">
  <%= form_with(model: message_form, url: channel_messages_path(channel_id: channel.id),
                method: :post,
                class: 'relative',
                id: 'send-message-form',
                data: {
                  controller: "messages--create components--reset-form components--file-preview components--audio-record",
                  "components--audio-record-target": "formSubmit",
                  "components--file-preview-target": "formSubmit",
                  action: "turbo:submit-end->components--reset-form#reset"
                }) do |f| %>
    <%= f.hidden_field :channel_type, value: Channel.types[:just_two_people] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :channel_id, value: channel.id %>
    <%= f.hidden_field :type, value: Message.types[:plain_text_or_attachment] %>
    <%= f.hidden_field :parent_id, value: nil, data: { 'messages--create-target': 'parentIdInput' } %>

    <div id="attachment-previews"
         class="hidden"
         data-components--file-preview-target="attachmentPreviews"
         data-action="components--file-preview#preview"
    >
    </div>

    <div class="hidden border-gray-800 flex justify-between border-t p-4"
         id="reply-message-box"
         data-messages--create-target="replyMessageBox">
      <div>
        <div class="flex items-center gap-2">
          <svg class="h-4 w-4 " fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m10 7.002v-4.252c0-.301-.181-.573-.458-.691-.276-.117-.599-.058-.814.153l-8.5 8.25c-.146.141-.228.335-.228.538s.082.397.228.538l8.5 8.25c.217.21.539.269.814.153.277-.118.458-.39.458-.691v-4.25h1.418c4.636 0 8.91 2.52 11.153 6.572l.021.038c.134.244.388.39.658.39.062 0 .124-.007.186-.023.332-.085.564-.384.564-.727 0-7.774-6.257-14.114-14-14.248z"></path>
          </svg>
          <p class="reply-to"></p>
        </div>
        <p class="opacity-60 reply-content max-w-[calc(100vw-65px)] overflow-hidden text-ellipsis md:max-w-[calc(100vw-420px)]"></p>
      </div>
      <button type="button"
              id="hide-reply-message-box"
              data-action="click->messages--create#hideReplyMessageBox">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="flex flex-row items-center p-4">
      <button type="button"
              class="flex flex-shrink-0 focus:outline-none mx-2 block text-blue-600 hover:text-blue-700 w-6 h-6"
              data-action="click->components--file-preview#clickFileInput">
        <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
          <path d="M10,1.6c-4.639,0-8.4,3.761-8.4,8.4s3.761,8.4,8.4,8.4s8.4-3.761,8.4-8.4S14.639,1.6,10,1.6z M15,11h-4v4H9  v-4H5V9h4V5h2v4h4V11z"/>
        </svg>
      </button>
      <button type="button" data-components--audio-record-target="audioRecordButton" class="flex flex-shrink-0 focus:outline-none mx-2 block text-blue-600 hover:text-blue-700 w-6 h-6">
        <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
          <path d="M9,18 L9,16.9379599 C5.05368842,16.4447356 2,13.0713165 2,9 L4,9 L4,9.00181488 C4,12.3172241 6.6862915,15 10,15 C13.3069658,15 16,12.314521 16,9.00181488 L16,9 L18,9 C18,13.0790094 14.9395595,16.4450043 11,16.9378859 L11,18 L14,18 L14,20 L6,20 L6,18 L9,18 L9,18 Z M6,4.00650452 C6,1.79377317 7.79535615,0 10,0 C12.209139,0 14,1.79394555 14,4.00650452 L14,8.99349548 C14,11.2062268 12.2046438,13 10,13 C7.790861,13 6,11.2060545 6,8.99349548 L6,4.00650452 L6,4.00650452 Z" />
        </svg>
      </button>
      <%= f.file_field(:attachments, multiple: true,
                       class: 'hidden',
                       data: {
                         action: "change->components--file-preview#preview",
                         'components--file-preview-target': 'fileInput',
                         'components--audio-record-target': 'inputUpload'
                       },
                       direct_upload: true) %>
      <div class="relative flex-grow" data-controller="components--emoji-picker" data-components--emoji-picker-target="rootElement">
        <label>
          <%= f.text_field :body,
                           class: 'rounded-full py-2 pl-3 pr-10 w-full border border-gray-800 focus:border-gray-700 bg-gray-800 focus:bg-gray-900 focus:outline-none text-gray-200 focus:shadow-md transition duration-300 ease-in',
                           data: {
                             'messages--create-target': 'inputText',
                             action: 'paste->components--file-preview#pasteImage'
                           } %>
          <button type="button" data-components--emoji-picker-target="triggerElement" data-action="click->components--emoji-picker#toggle" class="pickerContainer absolute top-0 right-0 mt-2 mr-3 flex flex-shrink-0 focus:outline-none block text-blue-600 hover:text-blue-700 w-6 h-6">
            <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
              <path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm2.16 3a6 6 0 0 1-11.32 0h11.32z" />
            </svg>
          </button>
        </label>
      </div>
      <button type="submit" class="flex flex-shrink-0 focus:outline-none mx-2 block text-blue-600 hover:text-blue-700 w-6 h-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
        </svg>
      </button>
      <button type="button"
              class="flex flex-shrink-0 focus:outline-none mx-2 block text-blue-600 hover:text-blue-700 w-6 h-6"
              data-action="click->messages--create#sendLikeButton">
        <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
          <path d="M11.0010436,0 C9.89589787,0 9.00000024,0.886706352 9.0000002,1.99810135 L9,8 L1.9973917,8 C0.894262725,8 0,8.88772964 0,10 L0,12 L2.29663334,18.1243554 C2.68509206,19.1602453 3.90195042,20 5.00853025,20 L12.9914698,20 C14.1007504,20 15,19.1125667 15,18.000385 L15,10 L12,3 L12,0 L11.0010436,0 L11.0010436,0 Z M17,10 L20,10 L20,20 L17,20 L17,10 L17,10 Z"/>
        </svg>
      </button>
    </div>
  <% end %>
</div>
