<%= turbo_frame_tag "user_#{user.id}" do %>
  <div class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative sort-item"
       id="user-item-<%= user.id %>"
       data-channels--index-target="userItem"
       data-action="click->channels--index#activeUser">
    <%= link_to "channel detail",
                show_or_create_channels_path(friend_id: user.id),
                class: 'hidden',
                id: "userItem#{user.id}",
                data: {
                  turbo_stream: '',
                  'channels--index-target': 'linkHidden'
                } %>
    <div class="w-16 h-16 relative flex flex-shrink-0">
      <%= image_tag user.avatar, class: 'shadow-md rounded-full w-full h-full object-cover', alt: "user_#{user.id}_avatar" %>
      <%= turbo_stream_from user, 'status' %>
      <%= render partial: 'users/status', locals: { user: user } %>
    </div>
    <% is_channel_present = false %>
    <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block group-hover:block">
      <p><%= user.name %></p>
      <!-- when a new user is created we have a broadcast to channel users, but then current_user won't work,
           so we need to check defined?(current_user)-->
      <% if defined?(current_user) && current_user.present? %>
        <% channel_name = generate_just_two_people_channel_name(user, current_user) %>
        <% channel = channel_just_two_peoples.where(name: channel_name).first %>

        <% is_channel_present = channel.present? %>
        <%= render partial: "chat/sidebar/last_message", locals: { channel: channel&.decorate, sender: current_user, channel_name: channel_name } %>
      <% end %>
    </div>
    <% if is_channel_present %>
      <div class="w-4 h-4 flex flex-shrink-0 hidden md:block group-hover:block">
        <%= image_tag user.avatar, class: 'rounded-full w-full h-full object-cover', alt: "user_#{user.id}_avatar" %>
      </div>
    <% end %>
  </div>
<% end %>
