<div class="lg:flex">
  <div class="lg:w-1/2 xl:max-w-screen-sm">
    <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
      <h2 class="text-center text-4xl text-indigo-900 font-display font-semibold lg:text-left xl:text-bold">
        Change your password
      </h2>
      <div class="mt-12">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div>
            <div class="text-sm font-bold text-gray-700 tracking-wide">New password</div>
            <%= f.password_field :password,
                                 class: 'w-full text-lg py-2 border-b border-gray-300 focus:outline-none
                                focus:border-indigo-500'
            %>
          </div>
          <div class="mt-8">
            <div class="text-sm font-bold text-gray-700 tracking-wide">Confirm new password</div>
            <%= f.password_field :password_confirmation,
                                 class: 'w-full text-lg py-2 border-b border-gray-300 focus:outline-none
                                focus:border-indigo-500'
            %>
          </div>
          <div class="mt-10">
            <button type="submit" class="bg-indigo-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                                shadow-lg">
              Change my password
            </button>
          </div>
        <% end %>
        <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
          <%= link_to 'Log in', new_user_session_path, class: 'cursor-pointer text-indigo-600 hover:text-indigo-800' %> /
          <%= link_to 'Sign up', new_user_registration_path, class: 'cursor-pointer text-indigo-600 hover:text-indigo-800' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'users/shared/right_screen' %>
</div>
N26CocDAGWIVLwS
