<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMessenger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/flash_messages' %>

    <% unless devise_controller? %>
      <%= turbo_frame_tag "appearance_channel" %>
      <div id="appearance_channel" data-controller="components--appearance"></div>
      <div class="h-screen w-full flex flex-col antialiased text-gray-200 bg-gray-900 overflow-hidden">
        <%= render partial: 'shared/application/menu_top' %>
        <div class="flex h-full">
          <%= render partial: 'shared/application/sidebar' %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
